@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;
@use '../../scss/breakpoints' as *;

.wrapper{
    @include container;
    margin-left: $spacing-sm-4;
    display: flex;
    justify-content: center;
    
    .empty{
        width: 100%;
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            @include lg-screen{
                font-size: $txt-nm-2;
            }

            @include nm-screen{
                font-size: $txt-nm-1;
            }

            @include sm-screen{
                font-size: $txt-sm-2;
            }
        }
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-rows: 10px;
        gap: $spacing-sm-3;
        font-size: $txt-sm-3;
        width: 100%;
        justify-content: center;
    }
}
