@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.wrapper{
    width: 100%;
    height: fit-content;

    .section{
        width: 100%;
        height: 500px;
        scroll-snap-align: start;
        
        padding-top: $spacing-nm-2; 
        @include centerFlex;

        .cardContainer{
            height: 100%;
            width: 500px;
            display: flex;
            align-items: center;
            gap: $spacing-sm-3;

            .card{
                height: 100%;
                width: 350px;
                border-radius: 1.5rem;
                overflow: hidden;

                video{
                    @include img;
                }
            }

            .icons{
                display: flex;
                flex-direction: column;
                gap: $spacing-sm-3;

                .iconCol{
                    @include centerFlex;
                    flex-direction: column;
                    gap: $spacing-sm-1;

                    button{
                        background-color: transparent;
                        border: none;
                    }

                    .icon{
                        font-size: $txt-nm-3;
                        width: 35px;
                        height: 35px;
                        padding: 3px;
                        color: black;
                        border: 1px solid black;
                        border-radius: 50%;
                        cursor: pointer;
                    }

                    p{
                        font-size: $txt-sm-2;
                        cursor: default;
                    }
                }
            }
        }
    }
}