@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;


.wrapper{
    width: 100%;
    margin-bottom: $spacing-nm-4;
    font-size: $txt-nm-2;
    
    .labels{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $spacing-sm-4;

        .line{
            width: 1px;
            height: 1rem;
            background-color: $gray2;
        }

    }
}