@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;


.wrapper{
    width: 100%;
    height: auto;
    margin-top: $spacing-l-5;

    .imgContainer{
        width: 100%;
        height: 100%;

        img{
            @include img;
        }
    }
}